body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 0;
}

.nav > li {
    margin-left: 10px;
    margin-right: 10px;
}

.nav > li > a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    border-radius: 20px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #66C05D;
    padding: 10px 15px;
    margin-left: 20px;
}

/* ----------- вторая шапка ------------ */

.header-bottom .nav {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}

.header-bottom {
    padding: 15px 0;
}

.hr {
    border: none;
    background-color: #efefef;
    height: 1px;

}